#menu {
    /*position: fixed;
    top: 20px;
    right: 20px;*/
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
}

#menu li {
    display: inline-block;
    margin: 10px 0;
}

#menu li a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 0 1.1em 1.1em;
}

#menu .active {
    font-weight: 700;
}

#menu .active a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#menu a:hover {
    opacity: 0.8;
}

ol, ul {
    list-style: none;
}

.section {
    text-align: center;
}