/*
 * SPDX-FileCopyrightText: 2022 Benjamin Schurtenberger
 *
 * SPDX-License-Identifier: MIT
 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  overflow: hidden;
}
body {
  color: #e7e8e8;
  background: #0f1318;
  overflow: hidden;
}

/*.section {
  padding-bottom: 68px;
}*/
@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }
}

/*.section {
  padding-bottom: 68px;
}*/
@media (min-width: 601px) {
  .mobile-only {
    display: none;
  }
}
