name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  build:
    name: 'Node.js CI'
    runs-on: ubuntu-latest
    environment: production

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4
    
    # Sets up pnpm
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9

    # Sets up the node.js environment's
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
        cache-dependency-path: src/frontend/cloud-resume/pnpm-lock.yaml

    # Installs dependencies
    - name: Install dependencies
      run: |
        cd src/frontend/cloud-resume
        pnpm install --frozen-lockfile

    # Runs the build
    - name: Build
      run: |
        cd src/frontend/cloud-resume
        pnpm run build

    # Runs tests on the project
    - name: Test
      run: |
        cd src/frontend/cloud-resume
        pnpm run test:ci

    # Get AWS credentials
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::420018626735:role/CICDRole
        aws-region: eu-central-1

    - name: Deploy frontend to S3
      env:
        AWS_EC2_METADATA_DISABLED: true # Reason: https://notestoself.dev/posts/github-action-s3-botocore-awsrequest-process-255-error/
      run: |
        if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
          aws s3 sync src/frontend/cloud-resume/build/ s3://schurteb-cloud-resume-challenge-bucket/
        else
          echo "Dry run mode (non-master branch)"
          aws s3 sync src/frontend/cloud-resume/build/ s3://schurteb-cloud-resume-challenge-bucket/ --dryrun
        fi

    - name: Invalidate CloudFront cache
      if: github.ref == 'refs/heads/master'
      env:
        AWS_EC2_METADATA_DISABLED: true # Reason: https://notestoself.dev/posts/github-action-s3-botocore-awsrequest-process-255-error/
        CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
      run: |
        aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"

