# SPDX-FileCopyrightText: 2022 Benjamin Schurtenberger
#
# SPDX-License-Identifier: MIT

name: 'Terraform'

on:
  push:
    branches: [ "master" ]
  pull_request:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: production
    concurrency:
      group: terraform-state-master
      cancel-in-progress: false  # queue instead of cancel

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    # Get AWS credentials
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::420018626735:role/CICDRole
        aws-region: eu-central-1

    # Install the latest version of Terraform CLI
    - name: Install Terraform
      env:
            TERRAFORM_VERSION: "1.2.9"
      run: |
        cd src/terraform
        tf_version=$TERRAFORM_VERSION
        wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
        unzip terraform_"$tf_version"_linux_amd64.zip
        sudo mv terraform /usr/local/bin/

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: |
        cd src/terraform
        terraform init

    # Generates an execution plan for Terraform
    - name: Terraform Plan
      run: |
        cd src/terraform
        terraform plan -input=false

      # On push to "master", build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
    - name: Terraform Apply
      if: github.ref == 'refs/heads/master'
      run: |
        cd src/terraform
        terraform apply -auto-approve -input=false
